body{
    margin: 0;
    padding: 0;
    font-size: 14pt;
    color: rgba(13, 51, 81, 255);
}

.wrapper{
    margin: -5px auto;
    width: 100%;
    max-width: 1800px;
    outline: 1px solid black;
}

.header{
    background: url(images/sochi-2258855@1X.png) no-repeat left top;
    background-size: 100% 648px;
    width: 100%;
    height: 648px;
}

.top-field{
    width: 80%;
    padding: 35px 0 0;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.settings > span{
    display: inline-block;
    margin-left: 45px;
    cursor: pointer;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
}

.number{
    line-height: 15px;
    position: relative;
    top: 7px;
}

/* burger-menu styles start */
.burger-menu{
    width: 22px;
    height: 16px;
    cursor: pointer;
}

.burger-menu hr{
    border-color: #c0dcf6;
    margin-bottom: -5.5px;
    color: #0d3351;
    background-color: #0d3351;
    height: 1px;
    border-radius: 2px;
}

#first{

}

#second{

}

#third{

}

/* burger-menu styles end */

.logo{
    margin: 0 auto;
    width: 88px;
    height: 88px;
    display: block;
    margin-top: 36px;
}

.header-first, .header-second{
    font-weight: normal;
    text-align: center;
    margin: 0;
}

.header-first{
    font-size: 36pt;
}

.header-second{
    font-size: 82pt;
    margin-top: 25px;
}

.button{
    width: 205px;
    background: #33c7fd;
    color: white;
    text-align: center;
    margin: 0 auto;
    line-height: 50px;
    cursor: pointer;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    margin-top: 35px;
}

.button:active{
    width: 203px;
    line-height: 48px;
}

.button:active ~ .figure{
    margin-top: 20px;
}

.figure{
    display: block;
    margin: 0 auto;
    margin-top: 18px;
}

.main{
    padding-top: 100px;
    height: 1420px;
}

.main-header{
    font-weight: normal;
    font-size: 36pt;
    text-align: center;
    margin-bottom: 0;
}

.sort-blocks{
    text-align: center;
    cursor: pointer;
    width: 300px;
    margin: 5px auto;
    position: relative;
}

.img-blocks-container{
    width: 80%;
    margin: 0 auto;
    border: 1px solid red;
    margin-top: 40px;
    position: relative;
    height: 1250px;
}

.img-block-first{
    width: 45%;
    height: 370px;
    outline: 1px solid black;    
    display: inline-block;
    padding-bottom: 20px;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
}

.img-block-first img{
    height: 180px;
}

.img-block{
    width: 45%;
    height: 370px;
    outline: 1px solid black;
    display: inline-block;
    position: absolute;
}

.other-height-img{
    height: 180px;
}

.blocks{
    margin-bottom: 3%;
    margin-left: 3%;
    transition: all 1s;
}

.blocks img{
    width: 100%;
    cursor: pointer;
}

.sorted{
    transform: rotate(180deg)
}

.sort-pointer{
    transition: all 1s;
    position: absolute;
    top: 10px;
    right: 19px;
}
